@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: white;
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
}
#app {
  height: 100%;
  width: 100%;
  margin: 0;

}

.App-header {
  width: 100%;
  height: 120px;
  background-color: #F7F8F8;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); */
  position: fixed;
  top: 0;
}

.upper {
  width: calc(100% - 500px);
  /* width: 100%; */
  height: 45px;
  margin: 10px 250px 0px 250px;
  /* background-color: rgb(224, 163, 163); */
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
}

.upper>img {
  width: 45px;
  height: 25px;
}

.upper>.motors {
  width: auto;
  /* height: 30px; */
  margin-left: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 600;

}

.upper>.motors>span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  /* border: 1px solid rgb(168, 164, 164); */
  box-shadow: 0px -3px 6px 0px rgba(199, 192, 192, 0.3);
  border-radius: 100%;
}

.upper>.property {
  width: auto;
  /* height: 30px; */
  margin-left: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 600;

}

.upper>.property>span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  /* border: 1px solid rgb(168, 164, 164); */
  box-shadow: 0px -3px 6px 0px rgba(199, 192, 192, 0.3);
  border-radius: 100%;
}

.navbar {
  width: calc(100% - 500px);
  /* width: 100%; */
  height: 70px;
  margin: 0px 250px 0px 250px;
  /* background-color: rgb(218, 218, 218); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* justify-content: flex-start; */
}

.navbar>img {
  width: 75px;
  height: 43px;
}

.search-Bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 330px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;

}

.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 5px;
}

.search-Bar>input {
  width: 250px;
  height: 100%;
  font-size: 18px;
  border: none;
  outline: none;
}

.search-Bar>.angle-down-div {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-right: 5px; */
  margin-right: 10px;
}

/* .search-Bar>.angle-down-div>.angle-down {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.serach-bar-larger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  width: 700px;
  height: 50px;
  background-color: white;
}

.serach-bar-larger>input {
  width: 730px;
  height: 100%;
  font-size: 18px;
  margin-left: 10px;
  border: none;
  outline: none;
}

.search-bar-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 100%;
  font-size: 28px;
  /* margin-right: 10px; */
  background-color: #002F34;
}

.serach-bar-larger>.search-bar-box>.search-icon2 {
  color: white;
}

.login-Btn-Box {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(210, 201, 35); */
  height: 100%;
  width: 60px;
}

.login-Btn-Box>a {
  font-size: 18px;
  color: #002F34;
  font-weight: 700;
}

.cart-Box>.cart-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
}

.profileIcon-Box>img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}

.sell-plus-Box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 100px;
  font-size: 17px;
  color: #002F34;
  font-weight: 700;
  border-top: 5px solid #3a77ff;
  border-bottom: 5px solid #3a77ff;
  border-left: 5px solid #ffce32;
  border-right: 5px solid #23e5db;
  border-radius: 40px;

}

.sell-plus-Box>.plus-icon {
  font-size: 17px;
  color: #002F34;
  font-weight: 700;
  margin-right: 5px;
}

.sell-plus-Box>span {

  font-size: 17px;
  color: #002F34;
  font-weight: 700;
}

.sell-plus-Box:hover {
  cursor: pointer;
}

.apiDataMainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: calc(100% - 500px);
  margin: 20px 250px 0px 250px;
  margin-top: 130px;

}

.apiDataDiv {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.thumbnailBox {
  width: 270px;
  height: 350px;
  /* background-color: #3a77ff; */
  /* margin: 40px 10px 10px 10px; */
  margin: 40px 0px 0px 0px;
  border-radius: 1%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.1s ease;

}

.thumbnailBox:hover {
  box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.thumbnailBox>img {
  width: 100%;
  height: 150px;
  /* padding: 0 5px 0 5px; */
  padding: 5px 5px 0 5px;
  margin-bottom: 10px;

}

.itemInfoBox {
  display: flex;
  flex-direction: column;
  /* padding: 0 25px 0px 25px; */
  padding: 0px 10px 0px 10px;
}

.itemInfoBox>div {
  margin-bottom: 10px;
}

.itemInfoBox>.priceBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brandTitle {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Poppins';

}

.thumbnailBox>.decription {
  /* word-wrap: break-word; */
  width: 100%;
  word-break: break-all;
  overflow: auto;
}

.priceBox>span {
  font-size: 25px;
  font-weight: 500;
}

.brandTitle>span {
  padding-left: 5px;
}

.rating>span {
  font-size: 12px;
  padding-left: 20px;
}

/* MODEL ///////////////////////// */
.authBody {
  width: 100%;
  height: 100%;
}

.mainAuthBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.olxlogo>img {
  width: 110px;
  height: 60px;
  margin-bottom: 35px;
}

.animate {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.text-center {
  text-align: center;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

a {
  color: #278a95;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #002f34;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-decoration: underline;
}

.text-primary {
  color: #002f34;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.logo h1 {
  color: #00A885;
  margin-bottom: -12px;
}

input[type="checkbox"] {
  width: auto;
}

button {
  cursor: pointer;
  background: #002f34;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #fff;
  font-size: 20px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

span.validate-tooltip {
  width: 100%;
  display: block;
  padding: 5px;
  color: #fff;
  box-sizing: border-box;
  font-size: 14px;
  margin-top: -28px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-animation: tooltipanimation 0.3s 1;
  animation: tooltipanimation 0.3s 1;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group label {
  position: absolute;
  top: 9px;
  left: 10px;
  font-size: 16px;
  color: #cdcdcd;
  font-weight: normal;
  padding: 2px 5px;
  z-index: 5;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.input-group input {
  outline: none;
  display: block;
  width: 100%;
  height: 40px;
  position: relative;
  z-index: 3;
  border: 1px solid #d9d9d9;
  padding: 10px 10px;
  background: #ffffff;
  box-sizing: border-box;
  font-weight: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.input-group .lighting {
  width: 0;
  height: 2px;
  display: inline-block;
  position: absolute;
  top: 40px;
  left: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.input-group.focused .lighting {
  width: 100%;
}

.input-group.focused label {
  background: #fff;
  font-size: 12px;
  top: -8px;
  left: 5px;
  color: #00A885;
}

.input-group span.validate-tooltip {
  margin-top: 0;
}

.wrapper {
  width: 320px;
  background: #fff;
  margin: 20px auto;
  min-height: 200px;
  border: 1px solid #f3f3f3;
}

.wrapper .inner-warpper {
  padding: 30px 30px 25px;
  box-shadow: 1px 1.732px 10px 0px rgba(0, 0, 0, 0.063);
}

.wrapper .title {
  margin-top: 0;
}

.wrapper .supporter {
  margin-top: 10px;
  font-size: 14px;
  /* color: #8E8E8E; */
  cursor: pointer;
}

.wrapper .remember-me {
  cursor: pointer;
}

.wrapper input[type="checkbox"] {
  float: left;
  margin-right: 5px;
  margin-top: 2px;
  cursor: pointer;
}

.wrapper label[for="rememberMe"] {
  cursor: pointer;
}

.wrapper .signup-wrapper {
  padding: 25px 0 0 10px;
  font-size: 14px;
}

.signup-wrapper>div>span {
  padding-left: 20px;
  color: #278a95;
  font-size: 15px;
  font-weight: 500;
}

.signup-wrapper>div>span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.signup-wrapper>div>span:hover,
.signup-wrapper>div>span:focus {
  color: #002f34;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/* Postadd Page//////// */

.postAddBody {
  width: 100%;
  height: auto;
}

.postHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 65px;
  padding: 8px 16px;
  background-color: #F7F8F8;
  border-bottom: 0.5px solid rgba(123, 123, 123, 0.1);
  box-shadow: 0 0.5px 15px 0px rgba(150, 150, 150, 0.2);
}

.postHeader>img {
  width: 65px;
  height: 25px;
  padding-left: 20px;
}

.postHeader>.leftArrow {
  width: 19px;
  height: 19px;
}

.postHeader>.leftArrow:hover {
  cursor: pointer;
}

.postHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 60px;
  padding: 16px 0;
}

.postDetailMainDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(100% - 500px);
  margin: 10px 250px 0px 250px;
  height: auto;
  border: 1px solid black;
}

.headingBox {
  width: 100%;
  padding: 16px 0;
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  flex-direction: column;
}

.headingBox>.div1 {
  padding: 0 16px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.headingBox>.div2 {
  padding: 16px 16px 0;
}

.headingBox>.div2>span {
  padding-right: 20px;
}

.headingBox>.div2>.span1st {
  font-size: 12px;
}

.headingBox>.div2>.span2nd {
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
}

.itemsBox {
  width: 100%;
  padding: 32px 0px 0px;
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
}

.itemsBox>.box1heading {
  width: 100%;
  padding: 0px 32px 8px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.itemsBox>.box2title {
  padding: 0 32px;
  margin: 0 0 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.box2title>.title {
  margin-bottom: 3px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

.box2title>div {
  margin-bottom: 5px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
}

.box2title>div>label>input {
  width: 99%;
  height: 46px;
  font-size: 16px;
  margin-left: 12px;
  font-family: 'Roboto', sans-serif;
  outline: none;
  border: none;
}

.box2title>.text {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

.box3Description {
  padding: 0 32px;
  margin: 0 0 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.box3Description>.descriptionTitle {
  margin-bottom: 3px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

.box3Description>div {
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.box3Description>div>label>textarea {
  width: 99%;
  height: 138px;
  font-size: 16px;
  margin-left: 12px;
  padding: 8px 40px 8px 0;
  font-family: 'Roboto', sans-serif;
  outline: none;
  border: none;
  resize: none;

}

.box3Description>.descriptionText {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

.line {
  margin: 0 0 16px;
  padding: 8px 32px 0;
  width: 100%;
  height: 9px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.priceHeading {
  width: 100%;
  height: 38px;
  margin: 0 0 16px;
  padding: 0 32px 8px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.box3price {
  margin: 0 0 16px;
  padding: 0 32px;
}

.box3price>.title {
  margin-bottom: 3px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

.box3price>div {
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 10;
}

.box3price>div>span {
  margin: 12px 0;
  padding: 0 12px;
}

.box3price>div>label>input {
  width: 99%;
  height: 46px;
  font-size: 16px;
  margin-left: 12px;
  font-family: 'Roboto', sans-serif;
  outline: none;
  border: none;
}

.box4image {
  padding: 0 32px;
  margin: 0 0 16px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.box4image>label {
  width: 100%;
  margin: 0 0 16px;
  padding: 0 32px;
}

.imgtext {
  padding: 0 32px;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

.ImgInputBox {
  display: flex;
  margin: 0 10px 10px 0;
}

.ImgInputBox>label {
  width: 115px;
  height: 115px;
  border: 0.5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ImgInputBox>label:hover {
  cursor: pointer;
}

.ImgInputBox>label>img {
  width: 100%;
  height: 100%;
}

.ImgInputBox>label>.imageIcon {
  width: 30px;
  height: 30px;
}

.ImgInputBox>input {
  display: none;
  /* visibility: hidden; */
}

.postBtnBox {
  margin: 0 0 2px;
  padding: 0 32px;
}

.postBtnBox>.postBtn {
  width: 140px;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  font-size: 17px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  border-radius: 5%;
}

.bodyBox {
  width: 100%;
  height: 100%; 
  margin-top: 130px;

}

.maindetailBox {
  width: calc(100% - 500px);
  height: auto;
  margin: 30px 250px 20px 250px;
  display: flex;

}

.productDetailBox {
  flex-grow: 1;

}
.productDetailBox> .imgBox {
  height: 480px;
  width: 100%;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.productDetailBox>img {
  height: 100%;
  width: 80%;
  background-color: #000000;
}

.productDetailBox>.priceBox {
  width: 100%;
  height: 160px;
  margin: 16px 0 0;
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.pricebox1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  margin: 0 0 8px;
}

.pricebox1>span {
  display: flex;
  font-size: 40px;
  font-weight: 700;
}

.pricebox1>.iconsBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

}

.pricebox1>.iconsBox>.icons {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.priceBox>.h1box {
  font-size: 19px;
  margin: 0 0 8px;
  font-weight: 500;
}

.priceBox>.span2div {
  height: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.span2div>div>.locationIcon {
  width: 18px;
  height: 18px;
}

.span2div>div>.span2 {
  padding-left: 10px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.span2div>.daysSpan {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;

}



.productDetailBox>.detailsBox {
  width: 100%;
  height: 150px;
  margin: 16px 0 0;
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);

}

.detailsBox>.detailheading {
  height: 26px;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.detailsBox>.detailbox1 {
  height: 74px;
  margin: 16px 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.detailbox1>.detailspanBoxs {
  width: 204px;
  height: 21px;
  padding: 0 16px 0 0;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.detailbox1>.detailSpansBold {
  font-weight: 700;
}

.productDetailBox>.decriptionBox {
  width: 100%;
  height: auto;
  margin: 16px 0 0;
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.decriptionBox>.decriptionheading {
  height: 26px;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.decriptionBox>.decriptionDetails {
  height: auto;
  margin: 16px 0 0;

}

.decriptionDetails>span {
  height: auto;
  margin: 16px 0 0;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  white-space: pre-line;

}

.userDetailBox {
  width: 500px;
  height: auto;
  margin-left: 20px;
}

.userDetailBox>.userProfileBox {
  width: 100%;
  height: 210px;
  margin: 8px 0 0;
  padding: 16px;
  /* background-color: crimson; */
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.userDetailBox>.userProfileBox>.prof {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.userProfileBox>.prof>img {
  width: 68px;
  height: 68px;
}

.userProfileBox>.prof>.details {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 5px;
}

.userProfileBox>.prof>.details>.same {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5px;
}

.userProfileBox>.prof>.details>.same>span {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #002f34;
}

.userProfileBox>.prof>.details>.bold>span {
  font-weight: 600;
}

.userProfileBox>.prof>.details>.bold>span>.arrow {
  margin-left: 5px;
}

.userDetailBox>.userProfileBox>button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #002f34;
  font-weight: 600;
  height: 48px;
  border-radius: 5px;
}

.userDetailBox>.userProfileBox>button .icons {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.userDetailBox>.userProfileBox>.phoneBtn {
  background-color: #002F34;
  color: #ffffff;
}

.userDetailBox>.userProfileBox>.chatBtn {
  background-color: #ffffff;
  color: #002f34;
  border: 1px solid #002F34;
}




.userDetailBox>.emptyBox {
  width: 100%;
  /* height: 32px; */
  padding: 16px 0;
  /* background-color: rgb(22, 151, 151); */
}

.userDetailBox>.locationBox {
  width: 100%;
  height: 92px;
  margin: 16px 0 0;
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: flex-start;
  justify-content:space-between ;
  flex-direction: column;
}

.locationBox>.heading {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  color: #002f34;
  font-weight: 600;
}

.locationBox>.location {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.locationBox>.location>.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.locationBox>.location>span {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: #002f34;
}

.userDetailBox>.idBox {
  width: 100%;
  height: 24px;
  margin: 16px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.idBox> .idNum {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #002f34;
}
.idBox> .report {
  display: flex;
  align-items: center;
  justify-content: center;
}
.idBox> .report> .icon {
  font-size: 16px;
  color: #002f34;
  margin-right: 5px;
}

.idBox>.report> span {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #002f34;
}





/* Footers*/

.footerContainer{
  display: flex;
  flex-direction: column;
}

.footerMain {
  width: 100%;
  height: auto;
  margin: 10px 0 0 0;
  padding: 16px 0 64px 0;
  background-color: #ebeeef;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: fixed;
  bottom: 0; */
}

.footerMain>.footer {
  width: calc(100% - 500px);
  margin: 0px 250px 0px 250px;
  background-color: #ebeeef;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer>.categoriesBox {
  flex: 1;
}

.categoriesBox>span {
  font-size: 14px;
  color: #002f34;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  padding: 0 0 10px 0;
}

.categoriesBox>ul {
  list-style: none;
}

.categoriesBox>ul>li>span {
  font-size: 12px;
  color: rgba(0, 47, 52, .64);
  font-family: 'Roboto', sans-serif;
}

.categoriesBox>ul>li>span:hover {
  cursor: pointer;
  color: #002f34;
}

.categoriesBox>.iconsRound {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.categoriesBox>.iconsRound>img {
  width: 24px;
  height: 24px;
  margin: 0 10px 0 0;
}

.categoriesBox>.iconsBoxes {
  margin: 34px 0 0;
  display: flex;
  justify-content: space-between;
}

.categoriesBox>.iconsBoxes>span {
  width: 84px;
  height: 33px;
  /* margin: 0 5px 0 0; */
  display: inline-block;
}

/* .categoriesBox>.iconsBoxes>.firstSpan {
  margin: 0 8px 0 0;
}

.categoriesBox>.iconsBoxes>.secondSpan {
  margin: 0 8px 0 0;
}

.categoriesBox>.iconsBoxes>.thirdSpan {
  margin-left: 0 !important;
} */

.categoriesBox>.iconsBoxes>span>img {
  width: 84px;
  height: 28px;
}


/* last Footer */

.footerBelow {
  width: 100%;
  height: auto;
  background-color: #002f34;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
}

.footerBelow>.innerBox {
  width: calc(100% - 500px);
  margin: 0px 250px 0px 250px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.innerBox>span {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.innerBox>.span1 {
  margin: 0 8px 0 0;
}